
<div class="second-top">
    <div class="second-nav">
        <nav>
            <a routerLink="/inbox">
                Inbox
            </a>
            <a routerLink="/search">
                Search
            </a>
            <a routerLink="/want-to-apply">
                Want to Apply
            </a>
            <a routerLink="/liked">
                Liked
            </a>
            <a routerLink="/labeled">
                Labeled
             </a>
             <a routerLink="/saved-queries">
                Saved Queries
             </a>
        </nav>
    </div>
    
</div>


