<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="title-component">
    <h1>Jobs You Want To Apply
        <div class="tooltip">
            <mat-icon >info</mat-icon>
            <span class="tooltiptext">{{tooltip}}</span>
        </div>
    </h1>
    
   
</div>


<div class="loading">
    {{loading}}
  </div>

<div class="liked-table" *ngIf="wantToApply">
    <div class="column-title">
        <div class="title-unit">
            Job
        </div>
        <div class="title-unit title-unit-2">
            Closing Date
        </div>
        <div class="title-unit title-unit-3">
            Delete
        </div>   
    </div>
    
    
    <div class="job-row" *ngFor="let job of viewedQueries; let id = index">
        <div class=job-title (click)="goToJobSite(job)">
            {{job.name}}
        </div>
        <span class="job-dueDate">
            {{job.deadline}}
        </span>
        <button class="delete-button" type="button" size="sm" (click)="remove(id)"><mat-icon class="delete-icon">delete</mat-icon></button>
    </div>

    <div class="page-bar" >  
        <div class="num-box " *ngFor="let i of nums">
          <button [class.selected-page]="i === currentPage" class="num-box " (click)="selectPage(i)">
            {{ i }}
          </button>
        </div>
    </div>
</div>
