
.selected-page{
    background-color: #ffff66;
  }

.recommendation{
  margin-left: 60px;
}

.green-icon{
  color: green;
}

.title-component{
  margin-left: 30px;
}

.visited-job{
  font-weight: bold;
  opacity: 1 !important;
}

.job-row{
  opacity: 0.9;
}
